.patients{
    flex: 4;
    padding: 10px;
    background-color: #202020;
}
.patientTop{
    padding: 10px;
    height: 50px;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.patientInput>input{
    background-color: #202020;
    height: 30px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;

}
.patientBtm{
    padding: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.patientTable{
    padding: 10px;
    width: 98%;
    height: 525px;
}
.historyHeading{
    font-weight: 600;
    margin-top: 20px;
    color: #bbbbbb;
    align-items: center;
    justify-content:center;
    

}
.historyTitle{
    background-color: #2b2b2b;
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.middle{
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b2b2b;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.Dflex{
    display: flex;
    padding: 5px;
    align-items: center;
}
.icon{
    color: white;
    margin-right: 10px;
    font-size: 40px !important;
}
.name{
    color: whitesmoke;
    padding: 10px;
}
.ListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color:white;
    cursor: pointer;
    margin-right: 20px;
}