.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #2d2d2d;
    position: sticky;
    top: 50px;
}
.sidebarWrapper{
    padding: 20px;
    color: #bbbbbb;
}
.sidebarMenu{
    margin-bottom: 20px;
}
.siderTitle{
    font-size: 13px;
    color: #bbbbbb;
}
.sidebarLst{
    list-style: none;
    padding: 5px;
    margin-top: -5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    border-radius: 10px;    
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: white;
    text-decoration: none;
}
.sideBarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
