.overView{
    margin-left: 35%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.Ttext{
    margin-left: 15%;
    padding : 10px;
    font-size: large;
    font-weight: 600;
}
.TaBle{
    border: none;
    border-bottom: 2px solid gray;
}
.TableTitle{
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}
.TableTitleText{
    font-weight: 500;
    font-size: medium;
}
.printButton{
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

