.addPatient{
    flex: 4;
    padding: 10px;
    background-color: #202020;
}
.addUserTitle{
    background-color: #2b2b2b;
    margin-top: 10px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.heading{
    font-weight: 600;
    margin-top: 20px;
    color: #bbbbbb;
    align-items: center;
    justify-content:center;
}
.patientForm{
    margin-left: 30%;
    flex-wrap: wrap;    
}
.newPatientItem{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}
.newPatientItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.newPatientItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newPatientSelect{
    height: 40px;
    border-radius: 5px;
}
.newPatientBtn{
    width: 300px;
    height: 40px;
    padding-bottom: 30px;
    border: none;
    background-color: rgb(60, 153, 156);
    margin-right: 10px;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.newPatientBtnReset{
    width: 200px;
    height: 40px;
    padding-bottom: 30px;
    border: none;
    background-color: tomato;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;

}
.errors{
    color: rgb(172, 50, 50);
    font-size: 16px;
    padding: 5px;
}
