.home{
    flex: 4;
    padding: 10px;
    background-color: #EDE7F6;
}
.homeTop{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
.homeLeft{
    flex: 1;
    background-color: #64B5F6;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
}
.userHead,
.patientHead{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIcon,
.patientIcon{
    padding: 5px;
    margin-right: 10px;
    font-size: 60px !important;
}
.userInfo,
.patientInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userTitle,
.patientTitle{
    color: #2b2b2b;
    font-weight: 600;
    padding: 5px;
}
.userCount,
.patientCount{
    padding: 5px;
}
.homeright{
    background-color:#64B5F6;
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);    
}
.homeBottom{
    display: flex;
    padding: 10px;
    height: 500px;
}
.homeBottomLeft{
    background-color: #d1c4e9;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);    
}
.homeBottomRight{
    background-color: #d1c4e9;
    border-radius: 10px;
    flex: 2;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0 , 0 , 0, 0.75);    
}
.infoTitle{
    font-weight: 300;
    padding: 10px;
    color: #858585;
}
.usersTable{
     height: 400px;
     width: 400px;
     padding: 10px;
}
.patientsTable{
    height: 400px;
    width: 605px;
    padding: 10px;
}
