.visit{
    padding: 10px;
    width: 100%;
    height: 720px;
    background-color: #EDE7F6;
}
.visitTitle{
    font-weight: 300;
    display: flex;
    align-items: center;
}
.title{
    margin-left: 25%;
}
.backBtn,
.submit{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: darkcyan;
    border-radius: 5px;
    cursor: pointer;
    color: wheat;
    font-size: 16px;
}
.Container{
    display: flex;
    margin-top: 10px;
}
.visitDetails{
    flex: 2;
    padding: 5px;
}
.patientShow{
    flex: 1;
    padding: 5px;
    margin-left: 10px;
    border-left: 1px solid gray;
    
}
.vDetails{
    display: flex;
    padding: 20px;
    align-content: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid gray;
}
.det{
    display: flex;
    padding: 20px;
    align-content: center;
    justify-content: center;
    }
.head{
    font-weight: 300;
    padding: 5px;
    margin-right: 5px;
}
.info{
    padding: 5px;
}
.heder{
    font-weight: 600;
}
.pdetails{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.pDeets{
    display: flex;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    align-content: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid gray;
}